.article {
    /* width: 80%; */
    /* height: 30rem; */
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.post-wrap {
    width: 98%;
    height: 98%;
    /* background-color: darkgreen; */
    display: flex;
}

.vote-container {
    width: 10%;
    height: 90%;
    /* background-color: lightblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.post-container {
    width: 100%;
    height:100%;
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3.post-title {
    font-family: 'Nanum Gothic', sans-serif;
    height: 20%;
    width: 98%;
    text-align: center;
    /* background-color: lightgreen; */
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 1rem;
}

.post-image-container {
    height: 80%;
    width: 98%;
    /* background-color:yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
}


.post-details {
    height: 20%;
    width: 98%;
    /* background-color: darkblue; */
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.post-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0.5rem;
}